.disblock { display: block; }
.som-password-sent-message {
	margin-bottom: 50px;
	padding: 15px;
	border: 2px solid #2679ce;
	border-radius: 4px;
	background-color: #2679ce;
	color: #fff;
	position: relative;
	display: table;
	width: 100%;
}
.lostpassword-submit {
	margin-bottom: 2rem;
}
.som-password-error-message {
	background-color: #2679ce;
	border-color: #2679ce;
	padding-left: 10px;
}
.som-password-sent-message span {
	display: table-cell;
	vertical-align: middle;
}
.sompass-submit-loading {
	display: inline-block;
	display: none;
}
.sompass-submit-loading.submitted {
	display: inline-block;
	padding-left: 10px;
	height: 50px;
	line-height: 50px;
}
.sompass-submit-loading img { display: inline; }
#lostpasswordform #somfrp_user_info { display: block; }

/* CJS */
#reset-pass-submit {
	margin: 10px 0 0 0;
}
#somfrp_user_info {
	width: 250px;
}

.somfrp-password-wrapper {
	width: 200px;
	max-width: 400px;
	margin-bottom: 10px;
}

.somfrp-password-wrapper input[type="password"].som-password-input,
.somfrp-password-wrapper input[type="text"].som-password-input { width: 200px; }
.somfrp-password-wrapper input[type="password"].som-password-input,
.somfrp-password-wrapper input[type="text"].som-password-input { max-width: 400px; }

.somfrp-eye-toggle {
	position:absolute;
	right: 0px;
	top:50%;
	transform:translateY(-50%);
	cursor:pointer;
	background:none;
	border:0;
	padding:0;
	line-height:1;
	width:20px;
	height:20px;
	border:0; 
	background:none; 
	padding:0; 
	cursor:pointer; 
	line-height:1;
}

.somfrp-eye-toggle .somfrp-eye-off { display:none; }
.somfrp-eye-toggle.dashicons-hidden .somfrp-eye { display:none; }
.somfrp-eye-toggle.dashicons-hidden .somfrp-eye-off { display:inline-block; }

.password-requirements li {
	color: #999;
}
.password-requirements li.valid {
	color: green;
}
.password-requirements li.invalid {
	color: #c00;
}
/* CJS */

